![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

**OPCIONES**

>**Estudiando la Relación Precio Bitcoin y Búsquedas Online**

>**Análisis del Impacto de las Búsquedas en Google sobre el Precio de Bitcoin**

>**Bitcoin: ¿Las Búsquedas Online Anticipan su Precio?**

### TEMA

En este análisis de datos exploraremos la relación entre el precio de Bitcoin y las búsquedas online realizadas por los usuarios. El objetivo es determinar si existe una correlación entre ambas variables y, en caso afirmativo, comprender la naturaleza de dicha relación.

Metodología:

Recopilación de datos históricos del precio de Bitcoin.
Recopilación de datos de las búsquedas en Google para términos relevantes como "Bitcoin", "criptomoneda", "invertir en Bitcoin", etc.
Análisis de correlación entre las variables.
Visualización de la relación mediante gráficos y análisis estadístico.

In [ ]:
# Describe brevemente el tema del proyecto en Markdown
tema = ""

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

### HIPÓTESIS
Existe una correlación positiva entre el precio de Bitcoin y las búsquedas online realizadas para términos relacionados con Bitcoin e inversiones.

Hipotesis.1

>El volumen de búsquedas en Google para términos relacionados con Bitcoin aumenta antes de las subidas del precio de Bitcoin.

Hipotesis.2

>El volumen de búsquedas en Google para términos relacionados con Bitcoin disminuye antes de las bajadas del precio de Bitcoin.

hipotesis.3

>Las búsquedas online pueden ser un indicador útil para predecir el precio futuro de Bitcoin.

hipotesis.4

> intentare hacer la buesqueda mas particular para lograr determinar cual es el pais o continente que mas correlacion tiene con la buesqueda y precio de Bitcoin

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

>https://www.investing.com/crypto/bitcoin/historical-data

>https://fred.stlouisfed.org/series/M1SL

>https://www.investing.com/crypto/

>https://www.google.com/

>

In [1]:
import pandas as pd

In [9]:
btcPriceHistoryDaily = pd.read_csv("data/Bitcoin_Historical_Data_Daily.csv")
btcPriceHistoryDaily

            Date     Price      Open      High       Low     Vol. Change %
0     03/02/2024  62,035.4  62,397.7  62,446.3  61,797.5   70.09K   -0.58%
1     03/01/2024  62,397.7  61,157.3  63,147.3  60,790.9   74.96K    2.01%
2     02/29/2024  61,169.3  62,467.1  63,653.4  60,512.5  119.29K   -2.08%
3     02/28/2024  62,467.6  57,048.7  63,915.3  56,704.9  173.64K    9.48%
4     02/27/2024  57,056.2  54,491.1  57,555.2  54,464.0  100.48K    4.70%
...          ...       ...       ...       ...       ...      ...      ...
4773  02/06/2011       0.9       0.9       0.9       0.8    8.74K    0.00%
4774  02/05/2011       0.9       0.8       0.9       0.8   15.79K   13.44%
4775  02/04/2011       0.8       0.7       0.9       0.7   42.22K   17.54%
4776  02/03/2011       0.7       0.7       0.8       0.7    8.53K    0.00%
4777  02/02/2011       0.7       0.7       0.8       0.7    5.63K    0.00%

[4778 rows x 7 columns]

In [10]:
btcPriceHistoryDaily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4778 entries, 0 to 4777
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4778 non-null   object
 1   Price     4778 non-null   object
 2   Open      4778 non-null   object
 3   High      4778 non-null   object
 4   Low       4778 non-null   object
 5   Vol.      4772 non-null   object
 6   Change %  4778 non-null   object
dtypes: object(7)
memory usage: 261.4+ KB

In [13]:
btcPriceHistoryWeekly = pd.read_csv("data/BitcoinHistoricalDataWeekly.csv")
btcPriceHistoryWeekly

           Date     Price      Open      High       Low     Vol. Change %
0    02/25/2024  62,002.9  51,572.1  63,915.3  50,925.2  642.90K   20.23%
1    02/18/2024  51,571.6  51,646.0  52,936.8  50,537.6  327.44K   -0.14%
2    02/11/2024  51,646.0  47,759.3  52,819.4  47,590.2  455.62K    8.14%
3    02/04/2024  47,758.2  43,006.2  48,149.0  42,272.5  402.98K   11.05%
4    01/28/2024  43,005.7  42,121.3  43,817.9  41,649.0  320.49K    2.10%
..          ...       ...       ...       ...       ...      ...      ...
677  03/06/2011       0.9       0.9       0.9       0.8   54.39K    0.00%
678  02/27/2011       0.9       1.0       1.0       0.8   71.26K    0.00%
679  02/20/2011       1.0       0.9       1.0       0.8   53.11K    0.00%
680  02/13/2011       0.9       1.1       1.1       0.8   70.90K  -12.13%
681  02/06/2011       1.1       0.9       1.1       0.8  111.64K   17.39%

[682 rows x 7 columns]

In [17]:
goggleDataHalving2012= pd.read_csv("data/btc2012.csv")
goggleDataHalving2012

           Category: All categories
Week           bitcoin: (Worldwide)
2012-01-01                       51
2012-01-08                       51
2012-01-15                       90
2012-01-22                       53
2012-01-29                       53
2012-02-05                       47
2012-02-12                       47
2012-02-19                       40
2012-02-26                       52
2012-03-04                       41
2012-03-11                       39
2012-03-18                       39
2012-03-25                       38
2012-04-01                       54
2012-04-08                       48
2012-04-15                       40
2012-04-22                       49
2012-04-29                       40
2012-05-06                       54
2012-05-13                       48
2012-05-20                       41
2012-05-27                       38
2012-06-03                       41
2012-06-10                       49
2012-06-17                       49
2012-06-24                       46
2012-07-01                       43
2012-07-08                       55
2012-07-15                       56
2012-07-22                       53
2012-07-29                       57
2012-08-05                       55
2012-08-12                       75
2012-08-19                       80
2012-08-26                       61
2012-09-02                      100
2012-09-09                       65
2012-09-16                       63
2012-09-23                       61
2012-09-30                       63
2012-10-07                       62
2012-10-14                       55
2012-10-21                       55
2012-10-28                       49
2012-11-04                       53
2012-11-11                       59
2012-11-18                       60
2012-11-25                       77
2012-12-02                       71
2012-12-09                       90
2012-12-16                       63
2012-12-23                       56
2012-12-30                       69

In [18]:
goggleDataHalving2016r= pd.read_csv("data/btc2016.csv")
goggleDataHalving2016r

           Category: All categories
Week           bitcoin: (Worldwide)
2016-01-03                       53
2016-01-10                       56
2016-01-17                       59
2016-01-24                       50
2016-01-31                       46
2016-02-07                       49
2016-02-14                       58
2016-02-21                       52
2016-02-28                       52
2016-03-06                       49
2016-03-13                       51
2016-03-20                       46
2016-03-27                       47
2016-04-03                       47
2016-04-10                       46
2016-04-17                       48
2016-04-24                       53
2016-05-01                       84
2016-05-08                       54
2016-05-15                       49
2016-05-22                       51
2016-05-29                       68
2016-06-05                       63
2016-06-12                       94
2016-06-19                       91
2016-06-26                       75
2016-07-03                       70
2016-07-10                       59
2016-07-17                       52
2016-07-24                       53
2016-07-31                       75
2016-08-07                       56
2016-08-14                       51
2016-08-21                       51
2016-08-28                       49
2016-09-04                       55
2016-09-11                       54
2016-09-18                       54
2016-09-25                       51
2016-10-02                       53
2016-10-09                       55
2016-10-16                       56
2016-10-23                       61
2016-10-30                       68
2016-11-06                       69
2016-11-13                       67
2016-11-20                       65
2016-11-27                       67
2016-12-04                       71
2016-12-11                       68
2016-12-18                       86
2016-12-25                      100

In [19]:
goggleDataHalving2020r= pd.read_csv("data/btc2020.csv")
goggleDataHalving2020r

           Category: All categories
Week           bitcoin: (Worldwide)
2020-01-05                       25
2020-01-12                       26
2020-01-19                       22
2020-01-26                       24
2020-02-02                       24
2020-02-09                       28
2020-02-16                       25
2020-02-23                       26
2020-03-01                       23
2020-03-08                       44
2020-03-15                       47
2020-03-22                       35
2020-03-29                       29
2020-04-05                       29
2020-04-12                       28
2020-04-19                       28
2020-04-26                       37
2020-05-03                       39
2020-05-10                       46
2020-05-17                       32
2020-05-24                       31
2020-05-31                       29
2020-06-07                       26
2020-06-14                       24
2020-06-21                       23
2020-06-28                       23
2020-07-05                       23
2020-07-12                       26
2020-07-19                       23
2020-07-26                       37
2020-08-02                       35
2020-08-09                       30
2020-08-16                       29
2020-08-23                       24
2020-08-30                       27
2020-09-06                       26
2020-09-13                       23
2020-09-20                       22
2020-09-27                       20
2020-10-04                       20
2020-10-11                       21
2020-10-18                       29
2020-10-25                       31
2020-11-01                       35
2020-11-08                       36
2020-11-15                       50
2020-11-22                       55
2020-11-29                       47
2020-12-06                       38
2020-12-13                       64
2020-12-20                       63
2020-12-27                      100

In [ ]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1 = pd.DataFrame()
fuente_1 = ""
# df_2 = pd.DataFrame()
# fuente_2 = ""
# df_3 = pd.DataFrame()
# fuente_3 = ""
# df_4 = pd.DataFrame()
# fuente_4 = ""
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
dfUltimosDias= pd.read_csv("data/ultimos90.csv")

In [5]:
dfUltimosDias.head(10)

           Category: All categories
Day            bitcoin: (Worldwide)
2023-11-29                       31
2023-11-30                       30
2023-12-01                       34
2023-12-02                       33
2023-12-03                       36
2023-12-04                       57
2023-12-05                       56
2023-12-06                       54
2023-12-07                       45

In [6]:
dfTodoEl2020= pd.read_csv("data/btc2020.csv")

In [7]:
dfTodoEl2020

           Category: All categories
Week           bitcoin: (Worldwide)
2020-01-05                       25
2020-01-12                       26
2020-01-19                       22
2020-01-26                       24
2020-02-02                       24
2020-02-09                       28
2020-02-16                       25
2020-02-23                       26
2020-03-01                       23
2020-03-08                       44
2020-03-15                       47
2020-03-22                       35
2020-03-29                       29
2020-04-05                       29
2020-04-12                       28
2020-04-19                       28
2020-04-26                       37
2020-05-03                       39
2020-05-10                       46
2020-05-17                       32
2020-05-24                       31
2020-05-31                       29
2020-06-07                       26
2020-06-14                       24
2020-06-21                       23
2020-06-28                       23
2020-07-05                       23
2020-07-12                       26
2020-07-19                       23
2020-07-26                       37
2020-08-02                       35
2020-08-09                       30
2020-08-16                       29
2020-08-23                       24
2020-08-30                       27
2020-09-06                       26
2020-09-13                       23
2020-09-20                       22
2020-09-27                       20
2020-10-04                       20
2020-10-11                       21
2020-10-18                       29
2020-10-25                       31
2020-11-01                       35
2020-11-08                       36
2020-11-15                       50
2020-11-22                       55
2020-11-29                       47
2020-12-06                       38
2020-12-13                       64
2020-12-20                       63
2020-12-27                      100

In [ ]:
# Primer dataset
# df_1.head()

In [ ]:
# Siguiente dataset...
# df_2.head()